@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primaryColor: #0e1012;
    --secondaryColor: #16161a;
  }

  *,
  *::before,
  *::after {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    @apply text-slate-400;
  }

  html,
  main {
    background: var(--primaryColor);
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* 
//gradient scrollbar
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-full bg-slate-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full;
    background: linear-gradient(171deg, #e5f9fc, #fffaea, #ffc3f0);
  } */
}

@layer utilities {
  .tr--container {
    @apply container mx-auto xl:px-48;
  }

  .section--padding {
    @apply py-24;
  }

  .bright--bg {
    @apply bg-custom-black-100;
  }
  /* General utils end */

  /* Flex Utilities */
  .tr--flex-row-center {
    @apply flex items-center justify-center;
  }

  .tr--flex-justify-center {
    @apply flex justify-center;
  }

  .tr--flex-justify-between {
    @apply flex justify-between;
  }

  .tr--flex-row-between {
    @apply flex items-center justify-between;
  }
  /* End of Flex Utilities */

  .gradient--text {
    @apply text-transparent w-fit;
    background: linear-gradient(45deg, #e5f9fc, #fffaea, #ffc3f0);
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.2;
  }

  /* Blink animation */
  .blink {
    animation: fadeInOut 2s infinite;
  }

  @keyframes fadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}

@layer components {
  .logo h3 {
    @apply text-slate-400 font-light text-xl;
  }

  header {
    @apply tr--container relative py-36;
    background: url(../images/svg/grid.svg) center;
    background-repeat: no-repeat;
  }

  header .intro-area h1 {
    @apply text-5xl md:text-6xl font-semibold;
    display: inline-block;
  }

  header .intro-area p {
    @apply md:w-1/2 mt-5 text-sm md:text-lg;
    line-height: 2rem;
  }

  header .header-image img:first-child {
    @apply relative right-0 top-0 w-96;
  }

  header .header-image img:last-child {
    @apply absolute bottom-0 right-0 rounded-lg w-64;
  }

  .about-section .memoji {
    @apply md:absolute top-0 -left-2 rotate-90;
  }

  .about-section .btn-area {
    @apply tr--flex-row-center bg-custom-black;
  }

  .about-section .btn-area button {
    @apply tr--flex-row-center rounded-md;
    background: linear-gradient(45deg, #121215 20%, #1d1d28 100%);
    width: 300px;
    padding: 30px;
    border: 1px solid #273543;
  }

  .about-section .btn-area button:hover {
    background: linear-gradient(45deg, #0b0b0d 20%, #1d1d28 100%);
  }

  .profile-image img {
    @apply relative z-10 w-72;
  }

  .profile-image::after {
    content: '';
    @apply absolute top-5 left-7 border-2 border-white w-72 h-72 md:w-60 md:h-60 lg:w-72 lg:h-72 mx-auto;
  }

  /* Projects */
  .project-section {
    position: relative;
    background: url(../images/svg/grid.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .project-card {
    @apply w-full border border-custom-black-100;
    background: linear-gradient(45deg, #121215 20%, #1d1d28 100%);
    transition: all 0.2s ease-in-out;
  }

  .project-card:hover {
    @apply cursor-pointer;
    border: 1px solid #1e1e1f;
  }
  /* Projects end */

  .single-contact {
    @apply bg-custom-black-100 p-4 rounded-lg;
  }

  .single-contact .text {
    @apply text-left;
  }

  .single-contact .text h1 {
    @apply text-base font-semibold;
  }

  .single-contact .text p {
    @apply text-sm text-slate-600;
  }
}

/* Orbit styles */

.orbit {
  @apply hidden md:block md:absolute md:right-[300px] xl:right-[400px];
}

.orbit-icon {
  @apply tr--flex-row-center w-9 h-9 text-base rounded-full;
}

.orbit-wrap {
  list-style: none;
  font-size: 1.3em;
}

.orbit-wrap > li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.orbit-wrap > li:hover ul {
  border: 1px solid #525252;
}
.orbit-wrap > li:hover ~ li ul {
  border-color: rgb(42, 42, 42);
}
.orbit-wrap > li:hover ~ li ul li {
  opacity: 0.4;
}

ul[class^='ring'] {
  @apply rounded-full border border-slate-600;
  transition: all 300ms ease-in-out;
}
ul[class^='ring'] li {
  transition: all 300ms ease-in-out;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6em;
  height: 1.6em;
  margin: -0.8em;
}

.ring-1 {
  width: 20em;
  height: 20em;
  -webkit-animation: clockwiseRotate 30s linear infinite;
  animation: clockwiseRotate 30s linear infinite;
}
.ring-1 i {
  -webkit-animation: counterClockwiseRotate 30s linear infinite;
  animation: counterClockwiseRotate 30s linear infinite;
}

.ring-1 > *:nth-of-type(1) {
  transform: rotate(126.6666666667deg) translate(10em)
    rotate(-126.6666666667deg);
}

.ring-1 > *:nth-of-type(2) {
  transform: rotate(253.3333333333deg) translate(10em)
    rotate(-253.3333333333deg);
}

.ring-1 > *:nth-of-type(3) {
  transform: rotate(380deg) translate(10em) rotate(-380deg);
}

.ring-2 {
  width: 15em;
  height: 15em;
  -webkit-animation: clockwiseRotate 25s linear infinite;
  animation: clockwiseRotate 25s linear infinite;
}
.ring-2 i {
  -webkit-animation: counterClockwiseRotate 25s linear infinite;
  animation: counterClockwiseRotate 25s linear infinite;
}

.ring-2 > *:nth-of-type(1) {
  transform: rotate(47.5deg) translate(7.5em) rotate(-47.5deg);
}

.ring-2 > *:nth-of-type(2) {
  transform: rotate(332.5deg) translate(7.5em) rotate(-332.5deg);
}

.ring-2 > *:nth-of-type(3) {
  transform: rotate(237.5deg) translate(7.5em) rotate(-237.5deg);
}

.ring-2 > *:nth-of-type(4) {
  transform: rotate(142.5deg) translate(7.5em) rotate(-142.5deg);
}

.ring-3 {
  width: 10em;
  height: 10em;
  -webkit-animation: clockwiseRotate 20s linear infinite;
  animation: clockwiseRotate 20s linear infinite;
}
.ring-3 i {
  -webkit-animation: counterClockwiseRotate 20s linear infinite;
  animation: counterClockwiseRotate 20s linear infinite;
}

.ring-3 > *:nth-of-type(1) {
  transform: rotate(126.6666666667deg) translate(5em) rotate(-126.6666666667deg);
}

.ring-3 > *:nth-of-type(2) {
  transform: rotate(253.3333333333deg) translate(5em) rotate(-253.3333333333deg);
}

.ring-3 > *:nth-of-type(3) {
  transform: rotate(380deg) translate(5em) rotate(-380deg);
}

/* center */
.orbit-center {
  @apply tr--flex-row-center;
  z-index: 5;
  font-size: 2em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  background: #373737;
  border-radius: 50%;
}
.orbit-center:hover .orbit-center__icon {
  transform: rotateZ(0deg);
}

.orbit-center__icon {
  transform: rotateZ(-360deg);
  transition: all 300ms ease-in-out;
}

.orbit-wrap > li.orbit-center:hover ~ li > ul {
  width: 0;
  height: 0;
}
.orbit-wrap > li.orbit-center:hover ~ li > ul * {
  transform: translate(0, 0);
}

/* animations */
@-webkit-keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* icons */

.html {
  background: #e34f26;
}

.css,
.react {
  background: #1b73ba;
}

.js {
  background: goldenrod;
}

.sass {
  background: purple;
}

.bootstrap,
.redux {
  background: #7952b3;
}

.tailwind {
  background: #fff;
}

.git {
  background: red;
}

.nextjs {
  background: black;
}
